<h3 style="text-align: center">Just some random assets made with Illustrator, Photoshop, JavaScript, HTML, or whatever... </h3>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp" *ngFor="let item of assetItems">
    <div class="mdl-card__media">
      <img *ngIf="item.image != null" [src]="item.image" alt="" style="max-width: 100%;">
      <div *ngIf="item.canvas != null" style="height: 500px; width: 100%; position: relative; overflow: hidden; ">
        <canvas [id]="item.canvas.canvasId" width="960" height="960" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); max-height: 100%;"></canvas>
      </div>
    </div>
    <div class="mdl-card__title">
      <h3>
        {{ item.title }}
      </h3>
    </div>
    <div class="mdl-card__supporting-text mdl-card--border">
      {{ item.info }}
    </div>
  </div>
</div>
