<main id="site">
  <section class="front">

    <div id="svgWrapper" class="svgWrapper"></div>

    <div class="logo-wrapper">
      <object class="logo" type="image/svg+xml" data="assets/logo.svg"></object>
      <h1><span>P</span><span>o</span><span>r</span><span>t</span><span>f</span><span>o</span><span>l</span><span>i</span><span>o</span><span class="name">Perttu Savolainen</span>    </h1>
    </div>

  </section>

  <nav id="navi" class="navi content">

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored scroll-down-btn" (click)="scrollDown($event)">
      <i class="material-icons">expand_more</i>
    </button>

    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Who?</a>
    <a routerLink="/projects" routerLinkActive="active">Projects</a>
    <a routerLink="/webpages" routerLinkActive="active">Web pages</a>
    <a routerLink="/logos" routerLinkActive="active">Logos</a>
    <a routerLink="/assets" routerLinkActive="active">Assets</a>

  </nav>

  <section class="content">
    <router-outlet></router-outlet>
  </section>

  <footer class="footer">
    <a href="http://www.github.com/PerttuSavolainen" target="_blank">
      <img src="assets/GitHub-Mark-64px.png" alt="Github">
    </a>
    <a href="https://www.facebook.com/perttu.savolainen" target="_blank">
      <img src="assets/FB-f-Logo__blue_50.png" alt="Facebook">
    </a>
  </footer>

</main>
