<div class="mdl-grid">
  <div class="mdl-cell mdl-card mdl-shadow--4dp">
    <div class="mdl-card__media">
      <img src="assets/me.jpg"  border="0" alt="" style="max-width: 100%">
    </div>
    <div class="mdl-card__title">
      <h3>
        Who?
      </h3>
    </div>
    <div class="mdl-card__supporting-text mdl-card--border">
      Hi, I'm Perttu Savolainen, a media engineering student from Jyväskylä.
      I'm currently striving to learn newest and most used techonologies and trends (like Ionic 2 and Angular 2) from web environment. Here's my portfolio, made with Angular 2 and Material Design Lite.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://github.com/PerttuSavolainen" target="_blank">
        Check my GitHub page
      </a>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--4dp">

    <div class="mdl-card__media" style="background-image: url('assets/lightbulb.jpg'); background-size: cover; min-height: 150px;">
      <!--<img src="assets/lightbulb.jpg" alt="" style="max-width: 100%">-->
    </div>
    <div class="mdl-card__title">
      <h3>
        Currently hyped about
      </h3>
    </div>

    <ul class="mdl-list mdl-card--border">
      <li class="mdl-list__item mdl-list__item--two-line" *ngFor="let hype of hypes">
        <span class="mdl-list__item-primary-content">
          <a href="{{hype.link}}">
            <i class="material-icons mdl-list__item-icon">launch</i>
          </a>
          <span>{{ hype.title }}</span>
          <span class="mdl-list__item-sub-title">{{hype.info}}</span>
        </span>
      </li>
    </ul>

  </div>

</div>
